# generated: '2026-09-02'
# method: derived
# source: https://corporate.americangreetings.com/wp-json/ (provider route index) + per-resource OPTIONS schemas
openapi: 3.1.0
info:
  title: American Greetings Corporate WordPress REST API
  version: '2026-09-02'
  description: Read-mostly content API served by American Greetings from its corporate site at corporate.americangreetings.com.
    This is the WordPress REST API (namespace wp/v2 plus oEmbed 1.0) exposed by the WordPress VIP platform the company runs
    its corporate site on. Alongside the standard WordPress content entities (posts, pages, media, categories, tags, users,
    comments) it exposes two American Greetings-specific custom post types, /products and /brands, which carry the company's
    own product and brand catalogue. GET collections are readable anonymously; all write operations require WordPress application-password
    credentials. This document was DERIVED mechanically from the provider's own machine-readable route index at https://corporate.americangreetings.com/wp-json/
    and per-resource OPTIONS schemas — American Greetings does not publish an OpenAPI description of its own.
  contact:
    name: American Greetings
    url: https://corporate.americangreetings.com/about-us/contact-us/
servers:
- url: https://corporate.americangreetings.com/wp-json
  description: American Greetings corporate WordPress REST API
tags:
- name: wp/v2
  description: WordPress core content namespace, including the American Greetings products and brands custom post types.
- name: oembed/1.0
  description: oEmbed discovery and proxy endpoints.
paths:
  /oembed/1.0:
    get:
      operationId: get_oembed_1_0
      summary: GET /oembed/1.0
      tags:
      - oembed/1.0
      parameters:
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          default: oembed/1.0
      - name: context
        in: query
        required: false
        description: ''
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /oembed/1.0/embed:
    get:
      operationId: get_oembed_1_0_embed
      summary: GET /oembed/1.0/embed
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        required: false
        description: ''
        schema:
          default: json
      - name: maxwidth
        in: query
        required: false
        description: ''
        schema:
          default: 600
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /oembed/1.0/proxy:
    get:
      operationId: get_oembed_1_0_proxy
      summary: GET /oembed/1.0/proxy
      tags:
      - oembed/1.0
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        required: false
        description: The oEmbed format to use.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        required: false
        description: The maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      - name: maxheight
        in: query
        required: false
        description: The maximum height of the embed frame in pixels.
        schema:
          type: integer
      - name: discover
        in: query
        required: false
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2:
    get:
      operationId: get_wp_v2
      summary: GET /wp/v2
      tags:
      - wp/v2
      parameters:
      - name: namespace
        in: query
        required: false
        description: ''
        schema:
          default: wp/v2
      - name: context
        in: query
        required: false
        description: ''
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/activity-log-events:
    get:
      operationId: get_wp_v2_activity_log_events
      summary: GET /wp/v2/activity-log-events
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - spam
            - jp-temp-feedback
            - any
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_activity_log_events
      summary: POST /wp/v2/activity-log-events
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/activity-log-events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_activity_log_events_id
      summary: GET /wp/v2/activity-log-events/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_activity_log_events_id
      summary: POST /wp/v2/activity-log-events/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    put:
      operationId: put_wp_v2_activity_log_events_id
      summary: PUT /wp/v2/activity-log-events/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    patch:
      operationId: patch_wp_v2_activity_log_events_id
      summary: PATCH /wp/v2/activity-log-events/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_activity_log_events_id
      summary: DELETE /wp/v2/activity-log-events/{id}
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/activity-log-events/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_activity_log_events_id_autosaves
      summary: GET /wp/v2/activity-log-events/{id}/autosaves
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_activity_log_events_id_autosaves
      summary: POST /wp/v2/activity-log-events/{id}/autosaves
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/activity-log-events/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_activity_log_events_parent_autosaves_id
      summary: GET /wp/v2/activity-log-events/{parent}/autosaves/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-directory/search:
    get:
      operationId: get_wp_v2_block_directory_search
      summary: GET /wp/v2/block-directory/search
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: term
        in: query
        required: true
        description: Limit result set to blocks matching the search term.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-patterns/categories:
    get:
      operationId: get_wp_v2_block_patterns_categories
      summary: GET /wp/v2/block-patterns/categories
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: get_wp_v2_block_patterns_patterns
      summary: GET /wp/v2/block-patterns/patterns
      tags:
      - wp/v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: get_wp_v2_block_renderer_name
      summary: GET /wp/v2/block-renderer/{name}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - edit
          default: view
      - name: attributes
        in: query
        required: false
        description: Attributes for the block.
        schema:
          type: object
          default: []
      - name: post_id
        in: query
        required: false
        description: ID of the post context.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_block_renderer_name
      summary: POST /wp/v2/block-renderer/{name}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: []
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/block-types:
    get:
      operationId: get_wp_v2_block_types
      summary: GET /wp/v2/block-types
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: namespace
        in: query
        required: false
        description: Block namespace.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: get_wp_v2_block_types_namespace
      summary: GET /wp/v2/block-types/{namespace}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: get_wp_v2_block_types_namespace_name
      summary: GET /wp/v2/block-types/{namespace}/{name}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks:
    get:
      operationId: get_wp_v2_blocks
      summary: GET /wp/v2/blocks
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - spam
            - jp-temp-feedback
            - any
            type: string
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: wp_pattern_category
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
              operator:
                description: Whether items must be assigned all or any of the specified terms.
                type: string
                enum:
                - AND
                - OR
                default: OR
            additionalProperties: false
      - name: wp_pattern_category_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
        schema:
          type:
          - object
          - array
          oneOf:
          - title: Term ID List
            description: Match terms with the listed IDs.
            type: array
            items:
              type: integer
          - title: Term ID Taxonomy Query
            description: Perform an advanced term query.
            type: object
            properties:
              terms:
                description: Term IDs.
                type: array
                items:
                  type: integer
                default: []
            additionalProperties: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_blocks
      summary: POST /wp/v2/blocks
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_blocks_id
      summary: GET /wp/v2/blocks/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_blocks_id
      summary: POST /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    put:
      operationId: put_wp_v2_blocks_id
      summary: PUT /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    patch:
      operationId: patch_wp_v2_blocks_id
      summary: PATCH /wp/v2/blocks/{id}
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_blocks_id
      summary: DELETE /wp/v2/blocks/{id}
      tags:
      - wp/v2
      parameters:
      - name: force
        in: query
        required: false
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_blocks_id_autosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      tags:
      - wp/v2
      parameters:
      - name: parent
        in: query
        required: false
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: post_wp_v2_blocks_id_autosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      tags:
      - wp/v2
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                  description: The title for the post.
                content:
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                      context:
                      - view
                      - edit
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      context:
                      - edit
                      readonly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The content for the post.
                excerpt:
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The excerpt for the post.
                meta:
                  type: object
                  properties:
                    wp_pattern_sync_status:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                      enum:
                      - partial
                      - unsynced
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - applicationPassword: []
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_blocks_parent_autosaves_id
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: get_wp_v2_blocks_parent_revisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by object attribute.
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: get_wp_v2_blocks_parent_revisions_id
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      tags:
      - wp/v2
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
[...]
